/car_models_brno.png
/car_models_liberec.png
/car_models_prague.png
/changes_in_stock.png
/Junior_BI_analyst_case_study.xlsx
/monthly_sales.png
/most_popular_cars.png
/most_sold_cars.png
/most_sold_cars_2.png
/most_successful_branch.png
/stock_supplies.png
/~$Junior_BI_analyst_case_study.xlsx